    /* This is the style block for internal css styling*/
    body {
        /*Styles the entire page background*/
        background-color: #f0f0f0; /* light gray background color*/
        font-family: Arial, sans-serif; /* sets the font for the webpage*/
        min-height: 100vh;
        margin: 0;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div {
        background-color: white;
        width: 300px;
        min-height: 500px;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        margin: 10px;
    }

    h2 {
        color: #d84315;
        margin-top: 0;
        font-size: 28px;
    }

    img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        /*border: 5px solid black;*/
        border-radius: 10px;
        margin: 10px o;
    }

    h4 {
        color: #555;
        font-style: italic;
        margin: 10px 0;
        font-size: 16px;
    }

    p {
        color: #333;
        font-size: 14px;
        line-height: 1.6;
        text-align: left;
        margin: 15px 0;
    }

    button, a {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        border: none;
        text-decoration: none;
        display: block;
        margin: 10px 0;
        width: 100%;
        box-sizing: border-box;
    }

    a {
        background-color: #4caf50;
        color: white;
        cursor: pointer;
    }

    a:hover {
        background-color: #45a049;
    }

    button {
        background-color: #2196f3;
        color: white;
        cursor: no-drop;
    }

    button:hover {
        background-color: #0b7dda;
    }

    button:disabled {
        background-color: yellow;
        color: #666;
        cursor: not-allowed;
    }

        button:disabled:hover {
        background-color: #ccc
    }